### Variables

In [1]:
a = 100

In [ ]:
## Declaring and Assigning Variables
name = "Kishore Reddy"
age = 23
height = 5.11

In [12]:
## Namming Convention
## Valid Variables Names
first_name = "Kihsore"
last_name ="Reddy"

In [13]:
## Invalid Variable Name
2name= "Kishore reddy"

SyntaxError: invalid decimal literal (3947499903.py, line 2)

In [ ]:
## Variables Types
a = 2 #int
b = 2.3 #float
c = "Murugan" #str

In [17]:
## Type checking and conversion
a = 34
b = 34.334
c = "Murugan"
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
## Different types of type conversion
## Integer to Stfing
a = 434
s = str(a)
print(s,type(s))

434 <class 'str'>

In [ ]:
## String To Integer
s = "3434"
a = int(s)
print(a,type(a))

3434 <class 'int'>

In [21]:
## String to Integer where it is not possible
s = "kihsore"
a = int(s)
print(a,type(a))

ValueError: invalid literal for int() with base 10: 'kihsore'

In [ ]:
## Float to Integer
a = 3.34
b = int(a)
print(b,type(b)) # b = 3

## Integer to float
a = float(b)
print(a,type(a)) # a = 3.0

3 <class 'int'>
3.0 <class 'float'>

In [24]:
## Dynamic Typing
var = 3
print(var,type(var))
var = 3.34
print(var,type(var))
var = "Kishore"
print(var,type(var))

3 <class 'int'>
3.34 <class 'float'>
Kishore <class 'str'>

In [ ]:
## Input
a = input("Enter the Value : ") # By default it will take it as str
print(a,type(a))

52 <class 'str'>

In [ ]:
## Input
a = int(input("Enter the Value : ")) # We have to convert str to int while taking input
print(a,type(a))

15 <class 'int'>

In [ ]:
## Simple Calculator
number1 = int(input("Enter Number 1 : "))
number2 = int(input("Enter Number 2 : "))

addition = number1 + number2
multiply = number1 * number2
subtraction = number1 - number2
division = number1 / number2

print("addition : ",addition)
print("multiply : ",multiply)
print("subtraction : ",subtraction)
print("division : ",division) # Division always in float

addition :  6
multiply :  8
subtraction :  2
division :  2.0