### Basic Data Types

In [7]:
## Integers
a = 434
type(a)

int

In [9]:
## Floating Point
a = 34.53
type(a)

float

In [10]:
## String
a = "Kishore Reddy"
type(a)

str

In [12]:
## Boolean
a = True
type(a)

bool

In [ ]:
## bool()
a = bool() # by default it is false
print(a)

False

In [ ]:
## Common Errors
name = "Kishore" + 34

TypeError: can only concatenate str (not "int") to str

In [1]:
result  = "Kishore" + str(34)
print(result)

Kishore34