#### Tuples

In [ ]:
## Creating Tuple
tpl = ()
print(type(tpl))

<class 'tuple'>

In [20]:
## Creating Tuple using Function
tpl = tuple()
print(type(tpl))

<class 'tuple'>

In [21]:
## Declaring and Assigning Tuple
tpl = (1,2,3,4,5)
print(tpl)

(1, 2, 3, 4, 5)

In [22]:
## Mixed Tuples
tpl = ("Kishore",23,5.11)
print(tpl)

('Kishore', 23, 5.11)

In [23]:
## Accessing Tuple Elements
tpl = (1,2,3,4,5)
print(tpl[1])

2

In [24]:
## Slicing in tuples
tpl = (1,2,3,4,5)
print(tpl[:4])

(1, 2, 3, 4)

In [25]:
## Tuples Operation
## Concatenation
tpl1 = (1,2,3,4,5)
tpl2 = ("Kishore",23,5.11)
print(tpl+tpl2)

(1, 2, 3, 4, 5, 'Kishore', 23, 5.11)

In [26]:
## Tuple Multiplication
tpl = (1,2,3)
print(tpl*3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [27]:
## Imutable Nature of Tuples
tpl = (1,2,3,4,5)
tpl[1]="Kishroe"

TypeError: 'tuple' object does not support item assignment

In [28]:
## Tuples Methods
## Count
tpl = (1,2,3,1,2,1)
print(tpl.count(1))

3

In [29]:
## Index
tpl.index(2)

1

In [30]:
## Packing and Un Packing Tuples
## Packing a tuple
new_tpl = "Kishore",23,5.11
print(new_tpl)

('Kishore', 23, 5.11)

In [31]:
## Un Packing Tuple
name,age,height = new_tpl
print(name)
print(age)
print(height)

Kishore
23
5.11

In [33]:
## Un Packing with *
tpl = (1,2,3,4,5,6,7,8,9,10)
a, *b, c = tpl
print(a)
print(b)
print(c)

1
[2, 3, 4, 5, 6, 7, 8, 9]
10

In [34]:
## Nested Tuples
tpl = ((1,2),(3,4),(4,5))
print(tpl)

((1, 2), (3, 4), (4, 5))

In [36]:
## Accessing Nested Tuples Elements
tpl = ((1,2,3),("a","b","c"),("Kishore",23,5.11))
print(tpl[2][0])

Kishore

In [40]:
## Iterating over a Nested Tuples
for item in tpl:
    for element in item:
        print(element,end=" ")
    print()

1 2 3
a b c
Kishore 23 5.11