##### Standard Library Overview

In [14]:
## Array Library
from array import array
print(array('i',[1,2,3,4,5,6]))

array('i', [1, 2, 3, 4, 5, 6])

In [15]:
## Math Library
from math import *
print(sqrt(64))
print(pi)

8.0
3.141592653589793

In [11]:
## Random Library
## randint()
import random
print(random.randint(1,234))

126

In [13]:
## choice()
print(random.choice(["apple","banana","grapes","orange"]))

banana

In [9]:
## Operating System Library
## getcwd()
import os
os.getcwd()

'c:\\Users\\kisho\\OneDrive\\Desktop\\Advanced Python\\05 Modules'

In [ ]:
## mkdir()
os.mkdir("dummy")

In [8]:
## High level operations on files and collection of files
## import shutil
import shutil 
shutil.copyfile("source.txt","destination.txt")

'destination.txt'

In [ ]:
## Data Serialization
## For converting a Dictionary into String
import json
data = {"name":"Kishore","age":34}
json_str=json.dumps(data)
print(json_str)
print(type(json_str))

{"name": "Kishore", "age": 34}
<class 'str'>

In [17]:
## converting a json string into a dictionary
parsed_data = json.loads(json_str)
print(parsed_data)
print(type(parsed_data))

{'name': 'Kishore', 'age': 34}
<class 'dict'>

In [22]:
## CSV
import csv
with open("example.csv",mode = "w",newline="") as file:
    writer = csv.writer(file)
    writer.writerow(["Name","Age"])
    writer.writerow(["Kishore",43])
with open("example.csv",mode='r') as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['Name', 'Age']
['Kishore', '43']

In [24]:
## Date Time
from datetime import datetime,timedelta
now=datetime.now()
print(now)

yesterday = now - timedelta(days=1)
print(yesterday)

2025-07-19 16:49:06.505032
2025-07-18 16:49:06.505032

In [27]:
## Regurlar Expression
import re

pattern = "\d+"
text = "There are 124 apples"
match  = re.search(pattern,text)
print(match.group())

124

<>:4: SyntaxWarning: invalid escape sequence '\d'
<>:4: SyntaxWarning: invalid escape sequence '\d'
C:\Users\kisho\AppData\Local\Temp\ipykernel_23076\3882132633.py:4: SyntaxWarning: invalid escape sequence '\d'
  pattern = "\d+"