##### Loops

In [15]:
## for loop with default starting point
for i in range(5):
    print(i)

0
1
2
3
4

In [16]:
## for loop with custom starting point
for i in range(2,5):
    print(i)

2
3
4

In [17]:
## for loop with Jump 
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [18]:
## for loop with backward jump
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [21]:
##  Iterate over String
str = "Kishore Reddy"
for i in str:
    if i=='o' :
        i='9'
    print(i)
print(str)

K
i
s
h
9
r
e

R
e
d
d
y
Kishore Reddy

In [24]:
## While Loop
count = 0
while count<5:
    print(count)
    count = count + 1

0
1
2
3
4

In [25]:
## Loop Controll Statments
## Break
for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [26]:
## Continue
for i in range(5):
    if i==3:
        continue
    print(i)

0
1
2
4

In [27]:
## Pass
for i in range(5):
    if i==3:
        pass
        print(f"{i} is the number")
    print(i)

0
1
2
3 is the number
3
4

In [28]:
## Nested Loops
for i in range(3):
    for j in range(3):
        print(f"i : {i} and j : {j}")

i : 0 and j : 0
i : 0 and j : 1
i : 0 and j : 2
i : 1 and j : 0
i : 1 and j : 1
i : 1 and j : 2
i : 2 and j : 0
i : 2 and j : 1
i : 2 and j : 2

In [30]:
## Caluclate the sum of first n natural number using For loop
n = 10
sum = 0
for i in range(n+1):
    sum+=i
print(f"sum of {n} natural numbers is {sum}")

sum of 10 natural numbers is 55

In [32]:
## Caluclate the sum of first n natural number using While loop
n = 10
sum = 0
i = 0
while i<=10:
    sum+=i
    i +=1
print(f"sum of {n} natural numbers is {sum}")

sum of 10 natural numbers is 55

In [34]:
## Prime Numbers Between 1 and 100
for i in range(101):
    if i>1 :
        for j in range(2,i//2):
            if i%j==0:
                break
        else :
            print(i)

2
3
4
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97