### SQL and SQLite

In [1]:
import sqlite3

In [2]:
## connect to an SQLite database
connection = sqlite3.connect('example.db')
connection

In [3]:
cursor = connection.cursor()

In [5]:
## create a table
cursor.execute('''
Create Table If Not Exists employee(
    id Integer Primary Key,
    name Text Not Null,
    age Ingeger,
    department Text
    )
''')
connection.commit()

In [8]:
## insert the data in the sqlite table
cursor.execute('''
insert into employee(name,age,department)
values('kishore',23,'Engineer')
''')

cursor.execute('''
insert into employee(name,age,department)
values('Murugan',26,'Senior Engineer')
''')

connection.commit()

In [10]:
cursor.execute('select * from employee')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'kishore', 23, 'Engineer')
(2, 'Murugan', 26, 'Senior Engineer')

In [12]:
## Update the data in the table
cursor.execute('''
update employee 
set age=34 where name='kishore'          

               ''')
connection.commit()

In [13]:
cursor.execute('select * from employee')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'kishore', 34, 'Engineer')
(2, 'Murugan', 26, 'Senior Engineer')

In [16]:
## Delete the data from the table
cursor.execute('''
delete from employee 
where name='kishore'
''')
connection.commit()

In [18]:
cursor.execute('select * from employee')
rows = cursor.fetchall()
for row in rows:
    print(row)

(2, 'Murugan', 26, 'Senior Engineer')

In [19]:
## Close the connection
connection.close()